$argento: #7c8182;
$argentochiaro: #c6c6c6;
$argentoscuro: #4c4b4c;

$celeste: #9ef8fb;

$giallo: #f3d455;
$gialloarancione: #f48c43;

$primary: #2181c5;
$primarylight: #6ac0d9;

$scritta2: #fb4ef6;
$scritta: #4c5593;

$viola: #7a4a9e;
$violascuro: #4f237a;
