$argento: #7c8182;
$argentochiaro: #c6c6c6;
$argentoscuro: #4c4b4c;

$orochiaro: #ffd773;
$oro: #faa52b;
$oroscuro: #c28732;

$storiachiaro: #f59cb9;
$storia: #ed6282;
$storiascuro: #cf3b5d;

$arcobaleno1: #c62b28;
$arcobaleno2: #dc6b22;
$arcobaleno3: #e0bc1e;
$arcobaleno4: #76b84f;
$arcobaleno5: #57adc8;
$arcobaleno6: #46519e;
$arcobaleno7: #794a9e;

$celeste: #9ef8fb;
$celestescuro: #57dff1;

$giallo: #f3d455;
$gialloarancione: #f48c43;

$primary: #2181c5;
$primarylight: #6ac0d9;

$secondary: #76b64b;
$secondarylight: #a4d9a4;

$scritta2: #fb4ef6;
$scritta: #4c5593;

$viola: #7a4a9e;
$violascuro: #4f237a;
