@import '../../../../../variables.scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  > * {
    width: 50%;
  }

  .scritta,
  .scritta2 {
    font-size: xx-large;
    font-weight: bold;
  }

  .scritta2 {
    font-size: xxx-large;
  }

  .content1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;

    > div {
      display: flex;
      margin: auto 0;

      img {
        height: 75%;
        margin: auto;
      }

      .count {
        width: 210px;
        height: 40px;
        border-radius: 50px;
        border: solid 5px white;
        background-image: radial-gradient($viola, $violascuro);
        margin: auto 0;
        .count-inner {
          background-image: linear-gradient($giallo, $gialloarancione);
          height: 100%;
          border-radius: 50px;
          display: flex;
          margin: 0;
          span {
            margin: auto;
          }
        }
      }
    }

    .content1-1 {
      height: 70%;
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .content1-2 {
      display: flex;
      height: 30%;
      flex-direction: column;

      > div {
        height: 50%;
      }
    }
  }

  .content2 {
    display: flex;
    flex-direction: column;

    > div {
      height: 33.3%;
    }

    .nome {
      display: flex;
      span {
        margin: auto;
      }
    }

    .descrizione-container {
      height: 100%;
      width: 100%;
      display: flex;

      .descrizione {
        height: 70%;
        width: 80%;
        background: #4e84c3;
        display: flex;
        border: 3px solid #1c4b6c;
        border-radius: 30px;
        margin: 0 auto;
        padding: 10px;
        span {
          color: white;
          font-size: large;
          margin: auto;
        }
      }
    }
  }
}

.punteggio {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  span {
    margin: auto;
  }
  &.argento {
    background-image: linear-gradient(45deg, $argentoscuro, $argento, $argentochiaro, $argento, $argentoscuro);
    border: 2px solid $argentoscuro;
  }

  &.oro {
    background-image: linear-gradient(45deg, $oroscuro, $oro, $orochiaro, $oro, $oroscuro);
    border: 2px solid $oroscuro;
  }

  &.storia {
    background-image: linear-gradient(45deg, $storiascuro, $storia, $storiachiaro, $storia, $storiascuro);
    border: 2px solid $storiascuro;
  }

  &.cattivo {
    background-image: linear-gradient(45deg, $cattivoscuro, $cattivo, $cattivochiaro, $cattivo, $cattivoscuro);
    border: 2px solid $cattivoscuro;
  }

  &.arcobaleno {
    background-image: linear-gradient(
      45deg,
      $arcobaleno1,
      $arcobaleno2,
      $arcobaleno3,
      $arcobaleno4,
      $arcobaleno5,
      $arcobaleno6,
      $arcobaleno7
    );
    border: 2px solid $arcobaleno6;
  }
}

.livello {
  display: flex;

  .punteggio {
    border-radius: 100px;
    margin: auto;
    padding: 10px;
  }
}

.btn {
  margin: 0 30px;
  height: min-content;
}

.premio {
  position: absolute;
  border-radius: 50px;
  padding: 7px;
  display: flex;

  &.serie {
    border-radius: 4px;
    border: 2px solid $oroscuro;
    padding: 2px 10px;
    div {
      color: white;
      font-size: xx-large;
      text-shadow: 1px 1px 0px $oroscuro, 1px 2px 0px $oroscuro, 2px 1px 0px $oroscuro, -1px -1px 0px $oroscuro,
        -1px -2px 0px $oroscuro, -2px -1px 0px $oroscuro, 1px -1px 0px $oroscuro, 1px -2px 0px $oroscuro,
        2px -1px 0px $oroscuro, -1px 1px 0px $oroscuro, -1px 2px 0px $oroscuro, -2px 1px 0px $oroscuro;
    }
  }
  * {
    margin: auto;
  }
}

.argento {
  .premio {
    background-image: linear-gradient(45deg, $argentoscuro, $argento, $argentochiaro, $argento, $argentoscuro);
  }
}

.oro {
  .premio {
    background-image: linear-gradient(45deg, $oroscuro, $oro, $orochiaro, $oro, $oroscuro);
  }
}

.cattivo {
  .premio {
    background-image: linear-gradient(45deg, $cattivoscuro, $cattivo, $cattivochiaro, $cattivo, $cattivoscuro);
  }
}

.arcobaleno {
  .premio {
    background-image: linear-gradient(
      45deg,
      $arcobaleno1,
      $arcobaleno2,
      $arcobaleno3,
      $arcobaleno4,
      $arcobaleno5,
      $arcobaleno6,
      $arcobaleno7
    );
  }
}

.storia {
  .premio {
    background-image: linear-gradient(45deg, $storiascuro, $storia, $storiachiaro, $storia, $storiascuro);
  }
}

.content1-1 {
  display: flex;
  flex-direction: row;
  .premio-container {
    width: 30%;
  }
  .img-container {
    width: 70%;
  }
  .premio-container,
  .img-container {
    height: 100%;
    display: flex;
    .premio {
      position: relative;
      margin: auto;
    }
    img {
      height: 100%;
    }
  }
}

.content1-2 {
  display: flex;
  flex-direction: row !important;

  .actions {
    width: 30%;
    .btn {
      margin: auto 30px;
    }
  }

  .data {
    width: 70%;
  }

  .actions,
  .data {
    height: 100% !important;
    display: flex;
    justify-content: space-around;
  }
}
