<div class="main">
	<div class="scatole-container">
		<img
			*ngFor="let s of scatole"
			[src]="s.immagine"
			alt="scatola {{s.nome}}"
			ngbTooltip="{{s.nome}}"
			tooltipClass="scritta"
			(click)="selezionaScatola(s.nome)"
			[class.selezionata]="scatola == s.nome">
	</div>
	<div class="button-container">
		<button
			type="button"
			class="btn primary"
			(click)="aggiungi()">
			Aggiungi Emoji
		</button>
	</div>

	<div
		class="list-container"
		*ngIf="emoji.length">
		<!-- EMOJI ARGENTO -->

		<ng-template [ngIf]="scatola == 'argento'">
			<h1
				class="scritta argento"
				style="text-align: center;">
				Emoji Argento
				<small>
					{{statistiche.argento?.ottenute}} / {{statistiche.argento?.totali}}
				</small>
			</h1>
			<app-emoji-statistiche [statistiche]="statistiche.argento"></app-emoji-statistiche>
			<div
				class="ordina emoji"
				*ngIf="!ordinaemoji">
				<div>
					<label class="scritta">Ordina per:</label>
					<select
						[(ngModel)]="campo"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let c of campi"
							value="{{c}}">
							{{c | lowercase}}
						</option>
					</select>
				</div>
				<div>
					<label class="scritta">in senso:</label>
					<select
						[(ngModel)]="ordine"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let o of ordini"
							value="{{o}}">
							{{o}}
						</option>
					</select>
				</div>
			</div>
			<div class="row">

				<input
					type="text"
					class="form-control"
					placeholder="Filtra Emoji per nome"
					(keyup)="updateFilter($event)">
			</div>
			<ul
				[style.column-count]="12"
				class="scrollingwrapper"
				*ngIf="!ordinaemoji">

				<li *ngFor="let e of emojiArgentoF">
					<div
						class="img-border argento"
						[class.selezionato]="e.id == selezionata?.id">
						<div
							class="img-container"
							[class.selezionato]="e.id == selezionata?.id">
							<div
								class="premio"
								*ngIf="e.premiogruppo">
								<fa-icon
									[icon]="smile"
									class="white"></fa-icon>

							</div>
							<div
								class="premio"
								*ngIf="e.solodiamante">

								<fa-icon
									[icon]="diamond"
									class="white"></fa-icon>
							</div>
							<img
								[src]="e?.immagine"
								[class.selezionata]="e.id == selezionata?.id"
								(click)="selectEmoji(e)"
								[ngbTooltip]="e?.nome + (campo ? (' (' + e[campo] + ')') : '')"
								tooltipClass="scritta2 argento z1000"
								container="body">
							<div
								class="cover-image"
								[class.display]="!e.count"
								(click)="selectEmoji(e)"></div>
							<div
								class="lock"
								*ngIf="!e.count">

								<fa-icon
									[icon]="lock"
									class="oroscuro"></fa-icon>
							</div>
							<div
								class="lock"
								*ngIf="e.completa">
								<fa-icon
									[icon]="check"
									class="verde"></fa-icon>
							</div>

						</div>
					</div>

				</li>

			</ul>
			<ul
				*ngIf="ordinaemoji"
				class="ordina"
				cdkDropList
				(cdkDropListDropped)="drop($event, emojiArgento)">

				<li
					*ngFor="let e of emojiArgento"
					cdkDrag>
					<span>{{e.ordine}}.</span>
					<img [src]="e.immagine">
					<span>{{e.nome}}</span>

				</li>
			</ul>
		</ng-template>

		<!-- EMOJI ORO -->
		<ng-template [ngIf]="scatola == 'oro'">
			<h1
				class="scritta oro"
				style="text-align: center;">
				Emoji Oro
				<small>
					{{statistiche.oro?.ottenute}} / {{statistiche.oro?.totali}}
				</small>
			</h1>
			<app-emoji-statistiche [statistiche]="statistiche.oro"></app-emoji-statistiche>
			<div
				class="ordina emoji"
				*ngIf="!ordinaemoji">
				<div>
					<label class="scritta">Ordina per:</label>
					<select
						[(ngModel)]="campo"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let c of campi"
							value="{{c}}">
							{{c | lowercase}}
						</option>
					</select>
				</div>
				<div>
					<label class="scritta">in senso:</label>
					<select
						[(ngModel)]="ordine"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let o of ordini"
							value="{{o}}">
							{{o}}
						</option>
					</select>
				</div>
			</div>
			<div class="row">

				<input
					type="text"
					class="form-control"
					placeholder="Filtra Emoji per nome"
					(keyup)="updateFilter($event)">
			</div>
			<ul
				*ngIf="!ordinaemoji"
				[style.column-count]="12"
				class="scrollingwrapper">

				<li *ngFor="let e of emojiOroF">
					<div
						class="img-border oro"
						[class.selezionato]="e.id == selezionata?.id">
						<div
							class="img-container"
							[class.selezionato]="e.id == selezionata?.id">
							<div
								class="premio"
								*ngIf="e.premiogruppo">
								<fa-icon
									[icon]="smile"
									class="white"></fa-icon>

							</div>
							<div
								class="premio"
								*ngIf="e.solodiamante">

								<fa-icon
									[icon]="diamond"
									class="white"></fa-icon>
							</div>
							<div
								class="premio serie"
								*ngIf="e.serie">
								<div>{{e.serie}}</div>

							</div>
							<img
								[src]="e?.immagine"
								[class.selezionata]="e.id == selezionata?.id"
								[class.small]="e.imagebig"
								[class.medium]="e.imagemedium"
								[class.big]="e.imagesmall"
								(click)="selectEmoji(e)"
								[ngbTooltip]="e?.nome + (campo ? (' (' + e[campo] + ')') : '')"
								tooltipClass="scritta2 oro z1000"
								container="body">
							<div
								class="cover-image"
								[class.display]="!e.count"
								(click)="selectEmoji(e)"></div>
							<div
								class="lock"
								*ngIf="!e.count">

								<fa-icon
									[icon]="lock"
									class="oroscuro"></fa-icon>
							</div>
							<div
								class="lock"
								*ngIf="e.completa">
								<fa-icon
									[icon]="check"
									class="verde"></fa-icon>
							</div>

						</div>
					</div>

				</li>

			</ul>
			<ul
				*ngIf="ordinaemoji"
				class="ordina"
				cdkDropList
				(cdkDropListDropped)="drop($event, emojiOro)">
				<li
					*ngFor="let e of emojiOro"
					cdkDrag>
					<span>{{e.ordine}}.</span>
					<img [src]="e.immagine">
					<span>{{e.nome}}</span>

				</li>
			</ul>
		</ng-template>

		<!-- EMOJI SERIE I -->
		<ng-template [ngIf]="scatola == 'serieI'">
			<h1
				class="scritta oro"
				style="text-align: center;">
				Emoji Serie I
				<small>
					{{statistiche.seriei?.ottenute}} / {{statistiche.seriei?.totali}}
				</small>
			</h1>
			<app-emoji-statistiche [statistiche]="statistiche.seriei"></app-emoji-statistiche>
			<div
				class="ordina emoji"
				*ngIf="!ordinaemoji">
				<div>
					<label class="scritta">Ordina per:</label>
					<select
						[(ngModel)]="campo"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let c of campi"
							value="{{c}}">
							{{ c | lowercase}}
						</option>
					</select>
				</div>
				<div>
					<label class="scritta">in senso:</label>
					<select
						[(ngModel)]="ordine"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let o of ordini"
							value="{{o}}">
							{{o}}
						</option>
					</select>
				</div>
			</div>
			<div class="row">

				<input
					type="text"
					class="form-control"
					placeholder="Filtra Emoji per nome"
					(keyup)="updateFilter($event)">
			</div>
			<ul
				[style.column-count]="12"
				class="scrollingwrapper">

				<li *ngFor="let e of emojiSerieIF">
					<div
						class="img-border oro"
						[class.selezionato]="e.id == selezionata?.id">
						<div
							class="img-container"
							[class.selezionato]="e.id == selezionata?.id">
							<div
								class="premio"
								*ngIf="e.premiogruppo">
								<fa-icon
									[icon]="smile"
									class="white"></fa-icon>

							</div>
							<div
								class="premio"
								*ngIf="e.solodiamante">

								<fa-icon
									[icon]="diamond"
									class="white"></fa-icon>
							</div>
							<div
								class="premio serie"
								*ngIf="e.serie">
								<div>{{e.serie}}</div>

							</div>
							<img
								[src]="e?.immagine"
								[class.selezionata]="e.id == selezionata?.id"
								[class.small]="e.imagebig"
								[class.medium]="e.imagemedium"
								[class.big]="e.imagesmall"
								(click)="selectEmoji(e)"
								[ngbTooltip]="e?.nome + (campo ? (' (' + e[campo] + ')') : '')"
								tooltipClass="scritta2 oro z1000"
								container="body">
							<div
								class="cover-image"
								[class.display]="!e.count"
								(click)="selectEmoji(e)"></div>
							<div
								class="lock"
								*ngIf="!e.count">

								<fa-icon
									[icon]="lock"
									class="oroscuro"></fa-icon>
							</div>
							<div
								class="lock"
								*ngIf="e.completa">
								<fa-icon
									[icon]="check"
									class="verde"></fa-icon>
							</div>

						</div>
					</div>

				</li>

			</ul>
		</ng-template>

		<!-- EMOJI SERIE II -->
		<ng-template [ngIf]="scatola == 'serieII'">
			<h1
				class="scritta oro"
				style="text-align: center;">
				Emoji Serie II
				<small>
					{{statistiche.serieii?.ottenute}} / {{statistiche.serieii?.totali}}
				</small>
			</h1>
			<app-emoji-statistiche [statistiche]="statistiche.serieii"></app-emoji-statistiche>
			<div
				class="ordina emoji"
				*ngIf="!ordinaemoji">
				<div>
					<label class="scritta">Ordina per:</label>
					<select
						[(ngModel)]="campo"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let c of campi"
							value="{{c}}">
							{{c | lowercase}}
						</option>
					</select>
				</div>
				<div>
					<label class="scritta">in senso:</label>
					<select
						[(ngModel)]="ordine"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let o of ordini"
							value="{{o}}">
							{{o}}
						</option>
					</select>
				</div>
			</div>
			<div class="row">

				<input
					type="text"
					class="form-control"
					placeholder="Filtra Emoji per nome"
					(keyup)="updateFilter($event)">
			</div>
			<ul
				[style.column-count]="12"
				class="scrollingwrapper">

				<li *ngFor="let e of emojiSerieIIF">
					<div
						class="img-border oro"
						[class.selezionato]="e.id == selezionata?.id">
						<div
							class="img-container"
							[class.selezionato]="e.id == selezionata?.id">
							<div
								class="premio"
								*ngIf="e.premiogruppo">
								<fa-icon
									[icon]="smile"
									class="white"></fa-icon>

							</div>
							<div
								class="premio"
								*ngIf="e.solodiamante">

								<fa-icon
									[icon]="diamond"
									class="white"></fa-icon>
							</div>
							<div
								class="premio serie"
								*ngIf="e.serie">
								<div>{{e.serie}}</div>

							</div>
							<img
								[src]="e?.immagine"
								[class.selezionata]="e.id == selezionata?.id"
								[class.small]="e.imagebig"
								[class.medium]="e.imagemedium"
								[class.big]="e.imagesmall"
								(click)="selectEmoji(e)"
								[ngbTooltip]="e?.nome + (campo ? (' (' + e[campo] + ')') : '')"
								tooltipClass="scritta2 oro z1000"
								container="body">
							<div
								class="cover-image"
								[class.display]="!e.count"
								(click)="selectEmoji(e)"></div>
							<div
								class="lock"
								*ngIf="!e.count">

								<fa-icon
									[icon]="lock"
									class="oroscuro"></fa-icon>
							</div>
							<div
								class="lock"
								*ngIf="e.completa">
								<fa-icon
									[icon]="check"
									class="verde"></fa-icon>
							</div>

						</div>
					</div>

				</li>

			</ul>
		</ng-template>

		<!-- EMOJI SERIE III -->
		<ng-template [ngIf]="scatola == 'serieIII'">
			<h1
				class="scritta oro"
				style="text-align: center;">
				Emoji Serie III
				<small>
					{{statistiche.serieiii?.ottenute}} / {{statistiche.serieiii?.totali}}
				</small>
			</h1>
			<app-emoji-statistiche [statistiche]="statistiche.serieiii"></app-emoji-statistiche>
			<div
				class="ordina emoji"
				*ngIf="!ordinaemoji">
				<div>
					<label class="scritta">Ordina per:</label>
					<select
						[(ngModel)]="campo"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let c of campi"
							value="{{c}}">
							{{c | lowercase}}
						</option>
					</select>
				</div>
				<div>
					<label class="scritta">in senso:</label>
					<select
						[(ngModel)]="ordine"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let o of ordini"
							value="{{o}}">
							{{o}}
						</option>
					</select>
				</div>
			</div>
			<div class="row">

				<input
					type="text"
					class="form-control"
					placeholder="Filtra Emoji per nome"
					(keyup)="updateFilter($event)">
			</div>
			<ul
				[style.column-count]="12"
				class="scrollingwrapper">

				<li *ngFor="let e of emojiSerieIIIF">
					<div
						class="img-border oro"
						[class.selezionato]="e.id == selezionata?.id">
						<div
							class="img-container"
							[class.selezionato]="e.id == selezionata?.id">
							<div
								class="premio"
								*ngIf="e.premiogruppo">
								<fa-icon
									[icon]="smile"
									class="white"></fa-icon>

							</div>
							<div
								class="premio"
								*ngIf="e.solodiamante">

								<fa-icon
									[icon]="diamond"
									class="white"></fa-icon>
							</div>
							<div
								class="premio serie"
								*ngIf="e.serie">
								<div>{{e.serie}}</div>

							</div>
							<img
								[src]="e?.immagine"
								[class.selezionata]="e.id == selezionata?.id"
								[class.small]="e.imagebig"
								[class.medium]="e.imagemedium"
								[class.big]="e.imagesmall"
								(click)="selectEmoji(e)"
								[ngbTooltip]="e?.nome + (campo ? (' (' + e[campo] + ')') : '')"
								tooltipClass="scritta2 oro z1000"
								container="body">
							<div
								class="cover-image"
								[class.display]="!e.count"
								(click)="selectEmoji(e)"></div>
							<div
								class="lock"
								*ngIf="!e.count">

								<fa-icon
									[icon]="lock"
									class="oroscuro"></fa-icon>
							</div>
							<div
								class="lock"
								*ngIf="e.completa">
								<fa-icon
									[icon]="check"
									class="verde"></fa-icon>
							</div>

						</div>
					</div>

				</li>

			</ul>
		</ng-template>

		<!-- EMOJI STORIA -->
		<ng-template [ngIf]="scatola == 'storia'">
			<h1
				class="scritta storia"
				style="text-align: center;">
				Emoji Storia
				<small>
					{{statistiche.storia?.ottenute}} / {{statistiche.storia?.totali}}
				</small>
			</h1>
			<app-emoji-statistiche [statistiche]="statistiche.storia"></app-emoji-statistiche>
			<div
				class="ordina emoji"
				*ngIf="!ordinaemoji">
				<div>
					<label class="scritta">Ordina per:</label>
					<select
						[(ngModel)]="campo"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let c of campi"
							value="{{c}}">
							{{c | lowercase}}
						</option>
					</select>
				</div>
				<div>
					<label class="scritta">in senso:</label>
					<select
						[(ngModel)]="ordine"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let o of ordini"
							value="{{o}}">
							{{o}}
						</option>
					</select>
				</div>
			</div>
			<div class="row">

				<input
					type="text"
					class="form-control"
					placeholder="Filtra Emoji per nome"
					(keyup)="updateFilter($event)">
			</div>
			<ul
				[style.column-count]="12"
				class="scrollingwrapper">

				<li *ngFor="let e of emojiStoriaF">
					<div
						class="img-border storia"
						[class.selezionato]="e.id == selezionata?.id">
						<div
							class="img-container"
							[class.selezionato]="e.id == selezionata?.id">
							<div
								class="premio"
								*ngIf="e.premiogruppo">
								<fa-icon
									[icon]="smile"
									class="white"></fa-icon>

							</div>
							<div
								class="premio"
								*ngIf="e.solodiamante">

								<fa-icon
									[icon]="diamond"
									class="white"></fa-icon>
							</div>
							<div
								class="premio serie"
								*ngIf="e.serie">
								<div>{{e.serie}}</div>

							</div>
							<img
								[src]="e?.immagine"
								[class.selezionata]="e.id == selezionata?.id"
								[class.small]="e.imagebig"
								[class.medium]="e.imagemedium"
								[class.big]="e.imagesmall"
								(click)="selectEmoji(e)"
								[ngbTooltip]="e?.nome + (campo ? (' (' + e[campo] + ')') : '')"
								tooltipClass="scritta2 storia z1000"
								container="body">
							<div
								class="cover-image"
								[class.display]="!e.count"
								(click)="selectEmoji(e)"></div>
							<div
								class="lock"
								*ngIf="!e.count">

								<fa-icon
									[icon]="lock"
									class="oroscuro"></fa-icon>
							</div>
							<div
								class="lock"
								*ngIf="e.completa">
								<fa-icon
									[icon]="check"
									class="verde"></fa-icon>
							</div>

						</div>
					</div>

				</li>

			</ul>
		</ng-template>

		<!-- EMOJI ARCOBALENO -->
		<ng-template [ngIf]="scatola == 'arcobaleno'">
			<h1
				class="scritta arcobaleno"
				style="text-align: center;">
				Emoji Arcobaleno
				<small>
					{{statistiche.arcobaleno?.ottenute}} / {{statistiche.arcobaleno?.totali}}
				</small>
			</h1>
			<app-emoji-statistiche [statistiche]="statistiche.arcobaleno"></app-emoji-statistiche>
			<div
				class="ordina emoji"
				*ngIf="!ordinaemoji">
				<div>
					<label class="scritta">Ordina per:</label>
					<select
						[(ngModel)]="campo"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let c of campi"
							value="{{c}}">
							{{c | lowercase}}
						</option>
					</select>
				</div>
				<div>
					<label class="scritta">in senso:</label>
					<select
						[(ngModel)]="ordine"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let o of ordini"
							value="{{o}}">
							{{o}}
						</option>
					</select>
				</div>
			</div>
			<div class="row">

				<input
					type="text"
					class="form-control"
					placeholder="Filtra Emoji per nome"
					(keyup)="updateFilter($event)">
			</div>
			<ul
				[style.column-count]="12"
				class="scrollingwrapper"
				*ngIf="!ordinaemoji">

				<li *ngFor="let e of emojiArcobalenoF">
					<div
						class="img-border arcobaleno"
						[class.selezionato]="e.id == selezionata?.id">
						<div
							class="img-container"
							[class.selezionato]="e.id == selezionata?.id">
							<div
								class="premio"
								*ngIf="e.premiogruppo">
								<fa-icon
									[icon]="smile"
									class="white"></fa-icon>

							</div>
							<div
								class="premio"
								*ngIf="e.solodiamante">

								<fa-icon
									[icon]="diamond"
									class="white"></fa-icon>
							</div>
							<div
								class="premio serie"
								*ngIf="e.serie">
								<div>{{e.serie}}</div>

							</div>
							<img
								[src]="e?.immagine"
								[class.selezionata]="e.id == selezionata?.id"
								[class.small]="e.imagebig"
								[class.medium]="e.imagemedium"
								[class.big]="e.imagesmall"
								(click)="selectEmoji(e)"
								[ngbTooltip]="e?.nome + (campo ? (' (' + e[campo] + ')') : '')"
								tooltipClass="scritta2 arcobaleno z1000"
								container="body">
							<div
								class="cover-image"
								[class.display]="!e.count"
								(click)="selectEmoji(e)"></div>
							<div
								class="lock"
								*ngIf="!e.count">

								<fa-icon
									[icon]="lock"
									class="oroscuro"></fa-icon>
							</div>
							<div
								class="lock"
								*ngIf="e.completa">
								<fa-icon
									[icon]="check"
									class="verde"></fa-icon>
							</div>

						</div>
					</div>

				</li>

			</ul>
			<ul
				*ngIf="ordinaemoji"
				class="ordina"
				cdkDropList
				(cdkDropListDropped)="drop($event, emojiArcobaleno)">
				<li
					*ngFor="let e of emojiArcobaleno"
					cdkDrag>
					<span>{{e.ordine}}.</span>
					<img [src]="e.immagine">
					<span>{{e.nome}}</span>
				</li>
			</ul>
		</ng-template>

		<!-- EMOJI CATTIVO -->
		<ng-template [ngIf]="scatola == 'cattivo'">
			<h1
				class="scritta cattivo"
				style="text-align: center;">
				Emoji Cattivo
				<small>
					{{statistiche.cattivo?.ottenute}} / {{statistiche.cattivo?.totali}}
				</small>
			</h1>
			<app-emoji-statistiche [statistiche]="statistiche.cattivo"></app-emoji-statistiche>
			<div
				class="ordina emoji"
				*ngIf="!ordinaemoji">
				<div>
					<label class="scritta">Ordina per:</label>
					<select
						[(ngModel)]="campo"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let c of campi"
							value="{{c}}">
							{{c | lowercase}}
						</option>
					</select>
				</div>
				<div>
					<label class="scritta">in senso:</label>
					<select
						[(ngModel)]="ordine"
						class="form-control"
						placeholder="ordine"
						(ngModelChange)="ordina()"
						required>
						<option
							*ngFor="let o of ordini"
							value="{{o}}">
							{{o}}
						</option>
					</select>
				</div>
			</div>
			<div class="row">

				<input
					type="text"
					class="form-control"
					placeholder="Filtra Emoji per nome"
					(keyup)="updateFilter($event)">
			</div>
			<ul
				*ngIf="!ordinaemoji"
				[style.column-count]="12"
				class="scrollingwrapper">

				<li *ngFor="let e of emojiCattivoF">
					<div
						class="img-border cattivo"
						[class.selezionato]="e.id == selezionata?.id">
						<div
							class="img-container"
							[class.selezionato]="e.id == selezionata?.id">
							<div
								class="premio"
								*ngIf="e.premiogruppo">
								<fa-icon
									[icon]="smile"
									class="white"></fa-icon>

							</div>
							<div
								class="premio"
								*ngIf="e.solodiamante">

								<fa-icon
									[icon]="diamond"
									class="white"></fa-icon>
							</div>
							<div
								class="premio serie"
								*ngIf="e.serie">
								<div>{{e.serie}}</div>

							</div>
							<img
								[src]="e?.immagine"
								[class.selezionata]="e.id == selezionata?.id"
								[class.small]="e.imagebig"
								[class.medium]="e.imagemedium"
								[class.big]="e.imagesmall"
								(click)="selectEmoji(e)"
								[ngbTooltip]="e?.nome + (campo ? (' (' + e[campo] + ')') : '')"
								tooltipClass="scritta2 cattivo z1000"
								container="body">
							<div
								class="cover-image"
								[class.display]="!e.count"
								(click)="selectEmoji(e)"></div>
							<div
								class="lock"
								*ngIf="!e.count">

								<fa-icon
									[icon]="lock"
									class="oroscuro"></fa-icon>
							</div>
							<div
								class="lock"
								*ngIf="e.completa">
								<fa-icon
									[icon]="check"
									class="verde"></fa-icon>
							</div>

						</div>
					</div>

				</li>

			</ul>
			<ul
				*ngIf="ordinaemoji"
				class="ordina"
				cdkDropList
				(cdkDropListDropped)="drop($event, emojiCattivo)">
				<li
					*ngFor="let e of emojiCattivo"
					cdkDrag>
					<span>{{e.ordine}}.</span>
					<img [src]="e.immagine">
					<span>{{e.nome}}</span>
				</li>
			</ul>
		</ng-template>
	</div>

	<div class="button-container">
		<button
			type="button"
			class="btn primary"
			(click)="aggiungi()">
			Aggiungi Emoji
		</button>
		<button
			type="button"
			class="btn secondary"
			*ngIf="(scatola == 'argento' || scatola == 'oro' || scatola == 'arcobaleno' || scatola === 'cattivo') && !ordinaemoji"
			(click)="ordinaEmoji()">
			Ordina Emoji
		</button>
		<button
			type="button"
			class="btn secondary"
			*ngIf="ordinaemoji"
			(click)="ordinaemoji = false">
			Indietro
		</button>
		<button
			type="button"
			class="btn secondary"
			*ngIf="ordinaemoji"
			(click)="salvaOrdine()">
			Salva
		</button>
	</div>
</div>
