@import '../../../../../variables.scss';

.img-border {
  width: 74px;
  height: 74px;
  border-radius: 30px;
  display: flex;
  &.argento {
    background-image: linear-gradient(45deg, $argentoscuro, $argento, $argentochiaro, $argento, $argentoscuro);
  }
  &.oro {
    background-image: linear-gradient(45deg, $oroscuro, $oro, $orochiaro, $oro, $oroscuro);
  }
  .img-container {
    margin: auto;
    width: 70px;
    height: 70px;
    background: $celeste;
    position: relative;
    &:hover {
      background: mix($celeste, $celestescuro);
    }

    &.selezionato {
      background: $celestescuro;
      width: 67px;
      height: 67px;
    }
    display: flex;
    border-radius: 30px;

    img {
      width: 50%;
      margin: auto;

      &.selezionata {
        width: 70%;
      }
    }

    .cover-image {
      position: absolute;
      z-index: 100;
      background: rgba(7, 87, 190, 0.5);
      width: 100%;
      height: 100%;
      border-radius: 30px;
      display: none;

      &.display {
        display: block;
      }
    }

    .lock {
      z-index: 150;
    }
  }
}

ul {
  list-style: none;
  padding-top: 10px;
  width: fit-content;
  text-align: justify;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  li {
    width: min-content;
    display: flex;
    margin: 0 10px 10px 10px;
    display: inline-block;
  }
}

.premio {
  position: absolute;
  border-radius: 50px;
  padding: 2px;
  z-index: 150;

  &.serie {
    border-radius: 4px;
    border: 2px solid $oroscuro;
    padding: 2px 6px;
    div {
      color: white;
      text-shadow: 1px 1px 0px $oroscuro, 1px 2px 0px $oroscuro, 2px 1px 0px $oroscuro, -1px -1px 0px $oroscuro,
        -1px -2px 0px $oroscuro, -2px -1px 0px $oroscuro, 1px -1px 0px $oroscuro, 1px -2px 0px $oroscuro,
        2px -1px 0px $oroscuro, -1px 1px 0px $oroscuro, -1px 2px 0px $oroscuro, -2px 1px 0px $oroscuro;
    }
  }
}

.argento {
  .premio {
    background-image: linear-gradient(45deg, $argentoscuro, $argento, $argentochiaro, $argento, $argentoscuro);
  }
}

.oro {
  .premio {
    background-image: linear-gradient(45deg, $oroscuro, $oro, $orochiaro, $oro, $oroscuro);
  }
}

.lock {
  position: absolute;
  left: 60px;
  top: 50px;
}

.scrollingwrapper {
  margin: 40px 20px;
}
