<div class="main">
	<div class="button-container">
		<button
			type="button"
			class="btn primary"
			(click)="aggiungi()">
			Aggiungi Emoji
		</button>
	</div>

	<div
		class="list-container"
		*ngIf="emoji.length">
		<ul
			[style.column-count]="12"
			class="scrollingwrapper">

			<li *ngFor="let e of emojiArgento">
				<div
					class="img-border argento"
					[class.selezionato]="e.id == selezionata?.id">
					<div
						class="img-container"
						[class.selezionato]="e.id == selezionata?.id">
						<div
							class="premio"
							*ngIf="e.premiogruppo">
							<fa-icon
								[icon]="smile"
								class="white"></fa-icon>

						</div>
						<div
							class="premio"
							*ngIf="e.solodiamante">

							<fa-icon
								[icon]="diamond"
								class="white"></fa-icon>
						</div>
						<img
							[src]="e?.immagine"
							[class.selezionata]="e.id == selezionata?.id"
							(click)="selectEmoji(e)">
						<div
							class="cover-image"
							[class.display]="!e.count"
							(click)="selectEmoji(e)"></div>
						<div
							class="lock"
							*ngIf="!e.count">

							<fa-icon
								[icon]="lock"
								class="oroscuro"></fa-icon>
						</div>
						<div
							class="lock"
							*ngIf="e.completa">
							<fa-icon
								[icon]="check"
								class="verde"></fa-icon>
						</div>

					</div>
				</div>

			</li>

		</ul>

		<ul
			[style.column-count]="12"
			class="scrollingwrapper">

			<li *ngFor="let e of emojiOro">
				<div
					class="img-border oro"
					[class.selezionato]="e.id == selezionata?.id">
					<div
						class="img-container"
						[class.selezionato]="e.id == selezionata?.id">
						<div
							class="premio"
							*ngIf="e.premiogruppo">
							<fa-icon
								[icon]="smile"
								class="white"></fa-icon>

						</div>
						<div
							class="premio"
							*ngIf="e.solodiamante">

							<fa-icon
								[icon]="diamond"
								class="white"></fa-icon>
						</div>
						<div
							class="premio serie"
							*ngIf="e.serie">
							<div>{{e.serie}}</div>

						</div>
						<img
							[src]="e?.immagine"
							[class.selezionata]="e.id == selezionata?.id"
							[class.small]="e.imagebig"
							[class.medium]="e.imagemedium"
							(click)="selectEmoji(e)">
						<div
							class="cover-image"
							[class.display]="!e.count"
							(click)="selectEmoji(e)"></div>
						<div
							class="lock"
							*ngIf="!e.count">

							<fa-icon
								[icon]="lock"
								class="oroscuro"></fa-icon>
						</div>
						<div
							class="lock"
							*ngIf="e.completa">
							<fa-icon
								[icon]="check"
								class="verde"></fa-icon>
						</div>

					</div>
				</div>

			</li>

		</ul>
	</div>

	<div class="button-container">
		<button
			type="button"
			class="btn primary"
			(click)="aggiungi()">
			Aggiungi Emoji
		</button>
	</div>
</div>
