<div class="group-view">
	<div class="group-header">
		<h1 class="scritta">{{gruppo.nome}}</h1>
		<button
			type="button"
			class="btn primary"
			(click)="modificaGruppo()">
			<fa-icon [icon]="edit"></fa-icon>
		</button>

	</div>

	<div>
		<img [src]="gruppo.immagine">
		<div class="emoji-list">
			<div class="row">
				<button
					type="button"
					class="btn primary"
					(click)="aggiungiEmoji()">
					<fa-icon [icon]="plus"></fa-icon>
				</button>
			</div>
			<ul class="layout-{{emojiGruppo.length}}">
				<li
					*ngFor="let emoji of emojiGruppo"
					[ngbTooltip]="emoji.emoji?.nome"
					[tooltipClass]="'scritta2'">
					<img [src]="emoji.emoji?.immagine">
					<div class="count">
						<div
							class="count-inner"
							[style.width]="(emoji.emoji?.count / emoji.emoji?.countMassimo * 100) + '%'">

						</div>
						<div class="scritta">
							<span>
								{{emoji.emoji?.count}}/{{emoji.emoji?.countMassimo}}
							</span>
						</div>

					</div>

					<div class="cover">
						<div class="buttons">
							<button
								type="button"
								class="btn secondary"
								(click)="eliminaEmoji(emoji)">
								<fa-icon [icon]="minus"></fa-icon>
							</button>
							<button
								type="button"
								class="btn secondary"
								(click)="mostraEmoji(emoji)">
								<fa-icon [icon]="details"></fa-icon>
							</button>
						</div>

					</div>

				</li>
			</ul>

		</div>
	</div>
	<div
		class="statistics"
		[ngStyle]="{'opacity': statistics.count != statistics.total ? 1 : 0}">
		<div>
			<div>Emoji ottenute: {{statistics.count}}</div>
			<div>Emoji totali: {{statistics.total}}</div>
		</div>
		<div>
			<div>
				Percentuale progresso: {{(statistics.count / statistics.total) | percent}}
			</div>
		</div>

	</div>
	<div [ngStyle]="{'opacity': statistics.count == statistics.total ? 1 : 0}">
		<h1
			class="scritta2"
			style="margin:auto;">
			Completato!
		</h1>
	</div>
	<div
		[ngStyle]="{'opacity': gruppo.emojipremio ? 1 : 0}"
		class="emoji-premio">
		<p>
			Ottieni tutte le Emoji doppie di {{gruppo.nome}} per vincere
			<span *ngIf="emojipremio">
				<img
					[src]="emojipremio.immagine"
					class="piccola-emoji">
			</span>

		</p>
	</div>

</div>
