@import '../../../../variables.scss';

.group-view {
  width: 95%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  flex-direction: column;
  border-radius: 30px;
  margin: 40px 0;
  h1 {
    text-align: center;
    margin: 20px 0 40px 0;
  }

  .emoji-premio {
    width: 80%;
    margin: 20px auto;
    p {
      color: $violascuro;
    }
  }
  div {
    position: relative;
    display: flex;
    width: 100%;
    img {
      width: 80%;
      opacity: 0.5;
      border-radius: 30px;
      margin: auto;
      &.piccola-emoji {
        opacity: 1;
        border-radius: unset;
        height: 70px;
        width: auto;
      }
    }
    .img-shadow {
      position: absolute;
      width: 80%;
      border-radius: 30px;
      height: 100%;
      box-shadow: inset 3px 3px 10px 0 rgb(16, 16, 104), inset -3px -3px 10px 0 rgb(16, 16, 104);
      top: 0;
      left: 10%;
    }
  }
}
