<div class="group-view">
	<div class="group-header">
		<h1 class="scritta">{{gruppo.nome}}</h1>
		<button
			type="button"
			class="btn primary"
			(click)="aggiungiEmoji()">
			<fa-icon [icon]="plus"></fa-icon>
		</button>
	</div>

	<div>
		<img [src]="gruppo.immagine">
		<div class="img-shadow"></div>
	</div>
	<div
		[ngStyle]="{'opacity': gruppo.emojipremio ? 1 : 0}"
		class="emoji-premio">
		<p>
			Ottieni tutte le Emoji doppie di {{gruppo.nome}} per vincere
			<span *ngIf="emojipremio">
				<img
					[src]="emojipremio.immagine"
					class="piccola-emoji">
			</span>

		</p>
	</div>

</div>
